{% extends "layout.html" %}

{% block body %}
<div id="banner">
        <div class="container">
            <div class="title">
                <h2>Submission Successful!</h2>
                    <p> 
                        Go to "Results Download Page" to collect results. A link 
                        will be sent to you upon completion. 
                    </p>
            </div>
        </div>
        <div class="container" style="height: 20vh">
            <div class = 'col-sm'>
                <a href="{{ url_for('download_results', query_id=time) }}">
                    <button style="height: 20vh;font-size: x-large" class='col-sm btn btn-primary'>Results Download Page</button>
                </a>  
            </div>
        </div>
        <hr>
        <div class="container" style="height: 20vh">
            <div class = 'col-sm'>
                <a href="{{ url_for('construct_query') }}">
                    <button style="height: 10vh;font-size: x-large" class='col-sm btn btn-primary'>Submit New Form</button>
                </a>  
            </div>
        </div>
        <hr>
    </div>

{% endblock body %}