{% extends "layout.html" %}

{% block body %}

<div id="banner">
    <div class="container">
        <div class="title">
            <h2>Analysis Presets</h2>
        </div>
    </div>
</div>
<div id="featured1">
    <div class="container">
        <div class="title">
            <h2>Raw Data</h2>
                <h3>ChIP-Seq</h3>
        </div>
        <div class="row">
            <input class="col-6" type="text" id="myFileNameInput" onkeyup="filenameSearch()" placeholder="Search by experiment accessions..">
            <input class="col-3" type="text" id="myTFInput" onkeyup="tfSearch()" placeholder="Search by transcription factor..">
            <input class="col-3" type="text" id="myTissueInput" onkeyup="tissueSearch()" placeholder="Search by tissue type..">
        </div>
        <div class="row" style="height:100vh; overflow: auto;">
            <table id="myTable">
                <tr class="header">
                    <th style="width:52%;color:rgb(88, 88, 88)">Filename</th>
                    <th style="width:24%;color:rgb(88, 88, 88)">Transcription Factor</th>
                    <th style="width:24%;color:rgb(88, 88, 88)">Tissue Type</th>
                </tr>

                {% for file_ind in range(download_files.num_peak_files) %}
                <tr>
                    <td>
                        <a href="{{ url_for('download_file', file_path = download_files.unpath_peak_files[loop.index]) }}">
                            <button style="height: 100%; width: 100%" class='btn btn-secondary'>{{ download_files.peak_files_strip[loop.index] }}</button>
                        </a>
                    </td>
                    <td>
                        CTCF
                    </td>
                    <td>
                        Some Tissue
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock body %}25vw