{% extends "layout.html" %}

{% block body %}

<div id="banner">
    <div class="container">
        <div class="title">
            <div id="home_title" class="titletext">WELCOME TO CHIP-IO </div><span>{{ version }}</span>
            <hr>
            <p>
                A user-friendly, up-to-date web application for transcription factor gene regulatory analysis
                with enhancer and tissue-specific features.
            </p>
        </div>
    </div>
</div>
<div id="featured1">
    <div class="container">
        <div class="title">
            <h2>AM I IN THE RIGHT PLACE?</h2>
            <span class="byline"></span> </div>
            <ol>
                <li>
                    <h3> Are you working with transcription factors?</h3>
                    <p> Perfect. ChIP-IO currently handles only transcription factor oriented data sources.</p>
                </li>
                <li>
                    <h3> Are you interested in adult humans?</h3>
                    <p> Good. ChIP-IO is currently limited to adult humans and is standardized to the GRCh38 reference genome.</p>
                </li>
                <li>
                    <h3> Are you looking for information on transcription factor regulatory target genes?</h3>
                    <p> Excellent. This is the primary goal of ChIP-IO.</p>
                </li>
                <li>
                    <h3> Would you like this regulatory information to be tissue-specific and generally customizable?</h3>
                    <p> Hopefully! Transcription factor activity is context dependent.
                        ChIP-IO was designed to handle these unmet needs.</p>
                </li>
            </ol>
    </div>
</div>

<div id="featured2">
    <div class="container">
        <div class="title">
            <h2>GETTING STARTED</h2>
            <span class="byline"></span> </div>
        <p> Select the <a style="color: #8fd8f5" href="{{ url_for('construct_query') }}">"CONSTRUCT QUERY"</a> tab to
            perform a custom set of TF-gene regulatory analysis and download the bundled output.
        </p>
        <p> If you would prefer to directly download selected analysis presets, or are simply interested 
            in directly downloading ChIP-Seq/other datasets on file, 
            instead navigate to the <a style="color: #8fd8f5" href="{{ url_for('downloads') }}">"DOWNLOADS"</a> tab above.
        </p>
        <p> Navigate to the <a style="color: #8fd8f5" href="{{ url_for('about') }}">"ABOUT"</a> tab above
            for more information on the technical aspects of the site.
        </p>
    </div>
</div>

<div id="featured1">
    <div class="container">
        <div class="title">
            <h2>This kind of work is complex. </h2>
            <span class="byline"></span> </div> 
            <p>
                Feedback goes a long way towards improving the site. Don't hesitate to 
                <a style="color: blue" href="{{ url_for('contact') }}" accesskey="5" title="">contact us</a> !
            </p>
    </div>
</div>
{% endblock body %}
