{% extends "layout.html" %}

{% block body %}
<div id="banner">
    <div class="container form-container">
        <div class="title">
                <h2>Step 2:</h2>
                <span class="byline"> Input Constraints </span>
                <br>
                <br>
                <br>
            <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <h1 class="hover-text-header" data-toggle="tooltip" data-placement="right" 
                        title="Study-specific parameters subset peaks based on properties of their source study">
                        Study-Specific Parameters
                    </h1>
                <br>
                    <p class="hover-text-header" 
                    data-toggle="tooltip" 
                    data-placement="right" 
                    data-html="true" 
                    title="<div>
                                Subset peaks by their target transcription factor(s).
                            </div>
                            <br>
                            <div>
                                Inputting &quotALL&quot will input all transcription factors
                                currently in the database thereby not constraining the query. To use only a subset, 
                                input TF names seperated by space. e.g.: TF_1 TF_2 ... TF_n 
                            </div>
                            <br>
                            <div> 
                                Current listings of all transcription_factors can be found in the &quotABOUT&quot section.
                            </div>">
                        {{ form.transcription_factors.label }}<br>
                        {{ form.transcription_factors(size=32) }}
                    </p>
                <!-- <p>
                    <a target="_blank" href="{{ url_for('tools',_anchor='tissue-selector') }}">{{ form.transcription_factors.label }}</a><br>
                    {{ form.transcription_factors(size=32) }}                  
                </p> -->
                <br>
                    <p class="hover-text-header" 
                    data-toggle="tooltip" 
                    data-placement="right" 
                    data-html="true" 
                    title="<div>
                                Subset peaks by their experimental tissue type(s).
                            </div>
                            <div>
                                Inputting &quotALL&quot will input all tissue types
                                currently in the database. To use only a subset, input TF names seperated by
                                space. e.g.: tissue_1 tissue_2 ... tissue_n 
                            </div>
                            <br>
                            <div> 
                                Current listings of all tissue types can be found in the &quotABOUT&quot section. 
                            </div>">
                        {{ form.tissue_types.label }}<br>
                        {{ form.tissue_types(size=32) }}
                    </p>
                <br>

                <h1 class="hover-text-header" data-toggle="tooltip" data-placement="right" 
                    title="Peak-specific parameters allow filtering based on the quality and intensity of peak signals">
                    Peak-Specific Parameters
                </h1>
                <br>
                    <p
                    class="hover-text-header" 
                    data-toggle="tooltip" 
                    data-placement="right" 
                    data-html="true" 
                    title="
                            <img src={{ url_for('static',filename='images/pileup_hist.png') }}>
                            </img>">
                        {{ form.pileup.label }}<br>
                        {{ form.pileup(size=32) }}
                    </p>
                    <p
                    class="hover-text-header" 
                    data-toggle="tooltip" 
                    data-placement="right" 
                    data-html="true" 
                    title="
                            <img src={{ url_for('static',filename='images/-log_p_hist.png') }}>
                            </img>">
                        {{ form.log_p.label }}<br>
                        {{ form.log_p(size=32) }}
                    </p>
                    <p
                    class="hover-text-header" 
                    data-toggle="tooltip" 
                    data-placement="right" 
                    data-html="true" 
                    title="
                            <img src={{ url_for('static',filename='images/fold_enrichment_hist.png') }}>
                            </img>">
                        {{ form.fold_enrichment.label }}<br>
                        {{ form.fold_enrichment(size=32) }}
                    </p>
                    <p
                    class="hover-text-header" 
                    data-toggle="tooltip" 
                    data-placement="right" 
                    data-html="true" 
                    title="
                            <img src={{ url_for('static',filename='images/-log_q_hist.png') }}>
                            </img>">
                        {{ form.log_q.label }}<br>
                        {{ form.log_q(size=32) }}
                    </p>
                    <br>


                <h1 class="hover-text-header" data-toggle="tooltip" data-placement="right" 
                    title="Regulatory region parameters allow modification of promoter/enhancer definition.">
                    Regulatory Region Parameters</h1><br>

                    <p
                    class="hover-text-header" 
                    data-toggle="tooltip" 
                    data-placement="right" 
                    data-html="true" 
                    title="
                            <img src={{ url_for('static',filename='images/Upstream.png') }}>
                            </img>">
                            {{ form.distance_from_TSS_upstream.label }}<br>
                            {{ form.distance_from_TSS_upstream(size=32) }}
                    </p>
                    <p
                    class="hover-text-header" 
                    data-toggle="tooltip" 
                    data-placement="right" 
                    data-html="true" 
                    title="
                            <img src={{ url_for('static',filename='images/Downstream.png') }}>
                            </img>">
                            {{ form.distance_from_TSS_downstream.label }}<br>
                            {{ form.distance_from_TSS_downstream(size=32) }}
                    </p>
                    <p
                    class="hover-text-header" 
                    data-toggle="tooltip" 
                    data-placement="right" 
                    data-html="true" 
                    title="<div>
                                Number of peaks peaks mapped to a gene required to qualify TF 
                                as regulatory for that gene.
                            </div>">
                            {{ form.peak_count.label }}<br>
                            {{ form.peak_count(size=32) }}
                    </p>
                    <br>


                <h1 class="hover-text-header" data-toggle="tooltip" data-placement="right" 
                title="Pipeline results will be sent to this email upon completion.">
                 Email</h1><br>
                    <p>{{ form.email.label }}<br>
                        {{form.email(size=32)}} 
                    </p>    
                <br>    
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
</div>

{% endblock body %}