{% extends "layout.html" %}

{% block body %}

<div id="banner">
    <div class="container">
        <div class="title">
            <h2>Tools for Building Queries</h2>
        </div>
    </div>
</div>

<div id="featured1">
    <div id="tissue-selector" class="container">
        <div class="title">
            <h2>Tissue/Cell Type Selector</h2>
            <p>Click on entries to append them to search term</p>
            <hr>
            <div class="col-12">
                <div class="row">
                    <input class="col-6" type="text" id="tissueFormNameInput" onkeyup="tissueFormSearch()" placeholder="Search by tissue type..">
                    <input class="col-6" type="text" id="tissueFormOutput" placeholder="Query text shows here..">
                </div>
                <div class="row" style="height:50vh; overflow: auto;">
                    <table id="tissueFormTable">
                        <tr class="header">
                            <th style="width:100%;color:rgb(88, 88, 88)">Tissues</th>
                        </tr>
                {% for tissue in tissues %}
                <tr>
                    <td>
                        <button style="height: 100%; width: 100%" class='btn btn-secondary tissue_click'>{{ tissue }}</button> 
                    </td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<div id="featured2">
    <div id="tissue-selector" class="container">
        <div class="title">
            <h2>Transcription Factor Selector</h2>
            <p>Click on entries to append them to search term</p>
            <hr>

            <div class="col-12">
                <div class="row">
                    <input class="col-6" type="text" id="tfFormNameInput" onkeyup="tfFormSearch()" placeholder="Search by transcription factor..">
                    <input class="col-6" type="text" id="tfFormOutput"  placeholder="Query text shows here..">
                </div>
                <div class="row" style="height:50vh; overflow: auto;">
                    <table id="tfFormTable">
                        <tr class="header">
                            <th style="width:100%;color:rgb(88, 88, 88)">Transcription Factors</th>
                        </tr>
                {% for tf in tfs %}
                <tr>
                    <td>
                        <button style="height: 100%; width: 100%" class='btn btn-secondary tf_click'>{{ tf }}</button> 
                    </td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock body %}